@import 'variables.scss';

* {
  font-family: 'Ropa Sans', sans-serif;
  font-family: 'Hind', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1em;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: normal;
}

h1, h2, h3 {
  line-height: 1.1em;
}

.site-header {
  background-color: white;

  .right {
    padding-top: 16px;
    float: right;
    display: flex;
    align-items: baseline;

    .search-form {
      flex: 0;
      min-width: 350px;
      display: block;
      align-self: flex-end;


    }

    .facebook-link {
      flex: 0;
      min-width: 32px;
      display: block;
      align-self: flex-end;

    }

  }
}

.site-header .inner,
#red-banner .inner,
.site-footer .inner,
.site-content .inner,
.dallinge-slides .message {
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

main {
  display: block;
}

.site-header .inner-top {
  height: 60px;
}

.main-navigation {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  float: none;
  z-index: 10;


  .floating-top-menu {
    float: right;
    border-top: 0;
  }

  .floating-top-menu-toggle {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .sub-menu {
    border: 1px solid white;
  }

  .floating-top-menu > li:last-of-type:hover .sub-menu {
    right: -1px !important;
    left: auto;
  }
}


.site-header {
  position: relative;

  .site-title {
    display: none;
  }

  .inner-top {
    z-index: 10;
  }

  .inner {

    padding-left: 130px;

    .site-description {
      position: absolute;
      bottom: 0;
      left: 130px;
      margin: 0px;
      font-size: 1em;
      opacity: 0.7;
    }

    .custom-logo-link {
      position: absolute;
      z-index: 1;
      bottom: -62px;
      left: 0em;
      //box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

      img {
        width: 110px;
        height: auto;
        display: block;
      }
    }


  }

}

.dallinge-slides {
  z-index: 0;

  .message {
    font-size: 1.3em;
    position: relative;
    z-index: 10;
  }

}

.wp-block-dallinge-posts-grid .entry-title {
  text-transform: unset;
}

#red-banner {
  background-color: $primary-color;
  margin: 0px;
  width: 100%;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px -3px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;

  .inner {
    padding-left: $logo-left-spacing;
    display: flex;
    align-items: center;

    .site-description {
      margin: 0;
      line-height: 1.6em;
      font-size: 1.4em;
      flex: 1;
    }

  }
}

.widget {
  opacity: 0;
}

/*.site-main {
  background-color: white;
  box-shadow: 0px 2px 20px rgba(0, 0, f0, 0.1);
}*/


body {
  background-color: $background-color;
}

.site-footer {
  border-top: 1px solid white;
  background-color: $footer-background-color;
  color: white;
  margin-top: $spacing * 1px;
  padding-bottom: $spacing * 1px;
  padding-top: $spacing * 1px;
}

.dallinge-slides {
  border-bottom: 1px solid white;
}

.site-content .inner {
  display: flex;

  #primary {
    flex: 1;
  }

  #secondary {
    margin-top: $single-top-margin;
    background-color: white;
    flex: 0.7;
  }
}

.single #primary .entry-title, .page #primary h1.entry-title, h1.page-title {

  padding-top: $spacing * 5 * $spacing-unit;
  height: $single-top-margin;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 0;
}

.single #primary {
  padding-right: $spacing * 1px;
}


.fixed-space {
  height: 108px;
}

.fixed {
  position: fixed;
  z-index: 10000;
  width: 100%;
  background-color: white;
}

a.wp-block-button__link {
  border-radius: 4px;
}


.widget_dallinge_sponsors {
  h2 {
    text-align: center;
  }

  .dallinge-sponsors {
    text-align: center;

    .sponsor {
      display: inline-block;

      img {
        height: 100px;
        width: auto;
        object-fit: contain;
      }
    }
  }
}


.copyright {
  text-align: center;
  font-size: 0.8em;
  opacity: 0.5;
}

.wp-block-dallinge-posts-grid .author {
  display: none;
}
