@import 'variables.scss';

* {
  font-family: 'Ropa Sans', sans-serif;
  font-family: 'Hind', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1em;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: normal;
}

h1, h2, h3 {
  line-height: 1.1em;
}

.custom-logo-link img {

  -ms-interpolation-mode: bicubic;
}

.site-header {
  background-color: white;


  .fixed-space {
    height: 108px;
    background-color: $primary-color;
  }

  .fixed {
    position: fixed;
    z-index: 10000;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid $primary-color;
  }

  .left {
    float: left;

  }

  .right {
    padding-top: 10px;
    float: right;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    .search-form {
      flex: 0;
      display: block;
      align-self: flex-end;
      position: relative;
      margin-right: 10px;

      .search-field {
        border-radius: 0px !important;
      }

      .search-submit {
        position: absolute;
        color: grey !important;
        top: 2px;
        right: 0px;
        background-color: transparent !important;
      }

    }


    .facebook-link {
      flex: 0;
      min-width: 32px;
      display: block;
      align-self: flex-end;
      position: relative;
      top: 1px;
      right: 2px;

    }

  }
}

.site-header .inner,
#red-banner .inner,
.site-footer .inner,
.site-content .inner,
.dallinge-slides .message {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

main {
  display: block;
}

.site-header .inner-top {
  height: 60px;
}

.main-navigation {
  display: block;
  margin: 0;
  padding: 0;
  float: none;
  z-index: 10;
  position: relative;
  position: absolute;
  right: 0;
  bottom: -2px;


  .floating-top-menu > li:not(.menu-item-has-children) {
    border-bottom: 2px solid $primary-color;

    a {
      padding-bottom: 5.2px;
    }
  }

  .floating-top-menu {
    border-top: 0;
  }

  .sub-menu {
    border-top: 0;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;

  }

  .floating-top-menu > li:first-of-type {
    border-radius: 5px 0px 0px 0px;
  }

  .floating-top-menu > li:last-of-type {
    border-radius: 0px 5px 0px 0px;
  }

  .floating-top-menu > li:last-of-type:hover .sub-menu {
    right: -1px !important;
    left: auto;
  }
}


.site-header {
  position: relative;

  .site-title {
    display: none;
  }

  .inner-top {
    z-index: 10;
    height: 108px;
  }

  .inner {

    position: relative;
    padding-left: 130px;

    .site-description {
      position: absolute;
      left: 100px;
      margin: 0px;
      bottom: 0.6em;
      font-size: 0.9em;
      opacity: 0.8;
      max-width: 260px;
    }

    .custom-logo-link {
      position: absolute;
      z-index: 1;
      left: 0em;
      bottom: 2px;

      img {
        width: 90px;
        height: auto;
        display: block;
      }
    }


  }

}

.dallinge-slides {
  z-index: 0;

  .message {
    font-size: 1.3em;
    position: relative;
    z-index: 10;
  }

}

.wp-block-dallinge-posts-grid .entry-title {
  text-transform: unset;
}

#red-banner {
  background-color: white;
  margin: 0px;
  width: 100%;
  color: white;
  border-top: 1px solid white;
  //border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid $primary-color;
  padding-top: 10px;
  position: relative;

  .inner {
    padding-left: $logo-left-spacing;
    display: flex;
    align-items: center;

    .site-description {
      margin: 0;
      line-height: 1.6em;
      font-size: 1.4em;
      flex: 1;
    }

  }
}


/*.widget {
  opacity: 0;
}


.no-animation-support {
  .widget {
    opacity: 1;
  }
}
*/

/*.site-main {
  background-color: white;
  box-shadow: 0px 2px 20px rgba(0, 0, f0, 0.1);
}*/


body {
  background-color: $background-color;
}

.site-footer {
  background-color: $footer-background-color;
  color: white;
  margin-top: $spacing * 1px;
  padding-bottom: $spacing * 1px;
  padding-top: $spacing * 1px;
}

.home #breadcrumbs {
  display: none;
}

.site-content .inner {

  #secondary {
    margin-top: $single-top-margin;
  }
}

#breadcrumbs {
  padding-top: 16px;
  font-size: 0.9em;
  position: relative;


}

.single #primary .entry-title {
  padding-top: $spacing * 4 * $spacing-unit;
  height: $single-top-margin;
  margin-bottom: 0;
  margin-top: 0;
}

.page #primary h1.entry-title {
  display: none !important;
}


a.wp-block-button__link {
  border-radius: 4px;
}


.widget_dallinge_sponsors {
  h2 {
    text-align: center;
  }

  .dallinge-sponsors {
    text-align: center;

    .sponsor {
      display: inline-block;

      img {
        height: 100px;
        width: auto;
        object-fit: contain;
      }
    }
  }
}


.copyright {
  text-align: center;
  font-size: 0.75em;
  opacity: 0.5;
}

.author {
  display: none;
}

.wp-block-button.alignright {

}

.menu-bottom-menu-container:before {
  content: '';
  border-top: 1px solid $lower-gray-color;
  display: block;
  padding: 20px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.menu-bottom-menu-container ul {


  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    display: inline-block;

    a {
      color: $lower-gray-color !important;

      &:after {
        content: '|';
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  li:last-of-type a:after {
    display: none;
  }

}


.creator {
  font-size: 0.9em;
  color: lightblue !important;

}


.page header > h1.entry-title {
  display: inline-block;
  position: relative;
  margin-bottom: 30px !important;


  &:after {
    content: '';
    position: absolute;
    background-color: $primary-color;
    height: 3px;
    bottom: 5px;
    left: 0px;
    right: 0px;
    display: block;
  }
}

.wp-block-dallinge-section {
  border-bottom: 2px solid $primary-color;

  &:last-of-type {
    border-bottom: 0;
  }
}

.search-submit i {
  color: grey;
}

.floating-top-menu-toggle {
  position: relative;
  padding-bottom: 0.4em;
  border-radius: 5px 5px 0px 0px;
}

.home {
  .wp-block-column {
    background-color: white;

  }

  .wp-block-column > * {
    padding-right: ($spacing * 2) * 1px;
    padding-left: ($spacing * 2) * 1px;
  }

  .wp-block-column:first-child > * {
    padding-left: ($spacing * 2) * 1px;
  }

  .wp-block-column:last-child > * {
    padding-right: ($spacing * 2) * 1px;
  }

}

.wp-block-table {

}


.single .type-post {

  .entry-title {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    height: auto !important;
  }

  .post-thumbnail {
    padding-top: 30px;

    img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      object-position: 50% 50%;
      box-shadow: inset 10px 10px #ECE6DA;
      border-radius: 8px;
    }
  }
}

.single .posted-on, .search .posted-on, .category .posted-on, .blog .posted-on {
  margin-right: 10px;

  .icon {
    padding-right: 10px;
  }
}


.search-article-content {
  display: flex;

  margin-top: 15px;

  .post-thumbnail {
    flex: 0;
    min-width: 150px;
    padding-right: 20px;
  }

  .entry-summary {
  }
}

.page .search-article-content {
  margin-top: 0 !important;

  p {
    margin-top: 0;
  }
}

hr {
  background-color: transparent;
  border-top: 2px solid $primary-color;
  border-radius: 1px;
}

.anchor {
  position: absolute;
  top: -120px;
}

.wp-block-dallinge-section {
  position: relative;
}

.no-flex-support {

  header .inner .right {
    width: 300px;
  }

  .search-form {
    float: left;
    width: 250px;

  }

  .facebook-link {
    float: left;
  }


  .sub-menu {
    background-color: #F3EEE9;
  }


  .features .wp-block-image {
    height: 110px;
    overflow: hidden;

    img {
      position: relative;
      height: auto;
      top: -25%;
    }
  }


}

input[type='checkbox'] {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}


.creator {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}


.wpcf7-form-control {
  max-width: 100%;
  width: 100%;
}