body, html {
  min-width: 320px;
}


@media screen and (max-width: 1280px) {
  .site-header .inner,
  #red-banner .inner,
  .site-footer .inner,
  .site-content .inner,
  .dallinge-slides .message {
    position: relative;
    max-width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
  }

}

@media screen and (max-width: 1100px) {


  .site-header .inner .site-description {
    bottom: 1em;
    font-size: 0.7em;
    max-width: 200px;

  }

}

@media screen and (max-width: 1024px) {
  .transparent-container.has-2-columns .wp-block-button {
    width: 80%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 901px) {
  .main-navigation li {
    a {
      font-size: 0.85em;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

}

@media screen and (max-width: 900px) {

  .site-header .inner .left {
    .site-description {
      left: 100px;
      max-width: 270px;
      font-size: 0.9em;
      bottom: 0.7em;
    }
  }
}

@media screen and (max-width: 800px) {

  .has-2-columns {
    flex-wrap: wrap;
  }
  .has-2-columns .wp-block-column {
    flex-basis: 100% !important;
    flex-grow: 1;

    & > * {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  .home .wp-block-columns:not(.transparent-container):not(.features) .wp-block-column{
    & > * {
      padding-right: $spacing * 1 * 1px !important;
      padding-left: $spacing * 1 * 1px !important;
    }

    .wp-block-image {
      display: block;
      margin: 0;
      padding-left:0px !important;
      padding-right: 0px !important;
    }
  }


  .wp-block-button__link {
    display: block;
    float: none;
  }


  .transparent-container {

    .wp-block-column:first-child > * {
      padding-left: $spacing / 2 * 1px;
    }

    .wp-block-column:last-child > * {
      padding-right: $spacing / 2 * 1px;
    }

  }


}

@media screen and (max-width: 768px) {

  ul, ol {
    margin: 0 0 1em 0em;
  }

  .site-header .inner,
  #red-banner .inner,
  .site-footer .inner,
  .site-content .inner,
  .dallinge-slides .message {
    position: relative;
    max-width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
  }

  .site-header .fixed {
    position: absolute;

    .inner {
      height: 116px;

    }
  }


  .transparent-container.has-2-columns .wp-block-button {
    width: 100%;
  }


}

@media (min-width: 600px) {
  .wp-block-column {
    flex-basis: 48%;
    flex-grow: 1;
  }

}

@media screen and (max-width: 600px) {

  .wp-block-dallinge-adoptable-animals-urgent .animals .animal .description .adopt-button {
    min-width: 75%;
  }


  .site-header .inner .right {
    padding-top: 6px;

    .search-field {
      max-width: 150px;
      height: 28px;
      font-size: 0.8em;
    }

    .facebook-link {
      min-width: 28px;
    }
  }

  .site-header .inner .left {
    .custom-logo-link {
      //bottom: 0px;
      img {
        width: 100px;
      }
    }

    .site-description {
      left: 100px;
      max-width: 140px;
      font-size: 0.60em;
      bottom: 1.5em;
    }
  }
}

