$primary-color: #DD2A0E;
$secondary-color: #F4ECDD;
$cache-background-color: #AD8261;
$background-color: #EEE6DB;
$footer-background-color: #6F6E6F;
$logo-left-spacing: 240px;
$menu-item-background-color: $primary-color;
$menu-item-background-color-hover: $secondary-color;